services:
  ansible-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=root
    command: ["ansible-rulebook", "-r", "test-rulebook.yml", "-i", "inventory.yml"]

  vault:
    image: vault:1.13.3
    ports:
      - "8200:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=root
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    cap_add:
      - IPC_LOCK